/* ymp_main.css is for the Yacht_Maintenance_Program */

/* main parts */

body {
  background: #262626; /* dark grey */
  font-family: verdana;
  margin: 0px;
  padding: 0px;
}
h1 {

}
h2 {
  /*color: #f1f1f1; /* design1 light grey */
  /*color: #ffff66; /* design2 light yellow */
  color: #cce0ff; /* design3 light blue */
  padding-left: 25px;
}
h3 {
  /*color: #f1f1f1; /* design1 light grey */
  /*color: #ffff66; /* design2 light yellow */
  color: #cce0ff; /* design3 light blue */
}
h4 {

}
h5 {

}
h6 {

}
p {

}
img {

}
button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
table, tr, td {
  /*border: 1px solid #ccc; /* #ccc is light-grey */
  /*vertical-align: top;*/
}

/* container */
iframe {
  border: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
#ympcontainer
{
  bottom: 0;
  margin-bottom: 55px;
  position: absolute;
  top: 55px;
  width: 100%;
}
/* /container */
