/* ymp_pages.css is for the Yacht_Maintenance_Program */

/* profile */
#profile_pic {
  border: 1px solid #fff; /* white */
  height: 300px; width: auto;
  margin-left: 20px;
}
#profile_main_content {
  color: #fff; /* white */
  padding: 25px 25px;
}
#file_Photo
{
  height: 0px;
  overflow: hidden;
  width: 5px;
}
#user_id, #user_pic {
  width: 200px;
}
.button_cell {
  /*vertical-align: top;*/
  padding: 20px 0px 0px 25px;
}
.greenbtnprofile {
  background-color: #40bf80; /* olive green */
  color: #fff; /* white */
  /*font-size: 15px;
  padding: 14px 20px;
  width: 200px;*/
}
.redbtnprofile {
  background-color: #f98e86; /* light red */
  color: #fff; /* white */
  /*font-size: 15px;
  padding: 14px 20px;
  width: 200px;*/
}
/* /profile */
