/* ymp_login.css is for the Yacht_Maintenance_Program */

/* Login */
form.loginform {
  border: 1px solid #000; /* #000 is black */
  color: #fff; /* white */
  text-align: center;
  padding-bottom: 5px;
}

img.yacht_window {
  height: 30%;
  width: 30%;
}

#inputusername, #inputpassword {
  border: 1px solid #ccc; /* #ccc is light-grey */
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 50%;
}

button.submitbtn {
  background-color: #40bf80; /* olive green */
  color: #fff; /* white */
  font-size: 25px;
  margin: 20px 0;
  padding: 14px 20px;
  width: 50%;
}

.imgcontainer {
  margin: 24px 0 12px 0;
  padding-bottom: 20px;
  text-align: center;
}
/* /Login */
