/* ymp_pages.css is for the Yacht_Maintenance_Program */

/* pages */

/* table */

/* pages common table */
#top_main_records {
  padding-right: 18px;
}
#show_main_records {
  height: 200px; /*width: 1600px;*/
  overflow: auto;
}
#ymp_toptable, #ymp_datatable {
  background-color: #fff; /* white */
  border: 10px solid #262626; /* dark grey */
  border-collapse: collapse;
  font-size: 1vw;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
#ymp_toptable th, #ymp_datatable td {
  padding: 4px;
  text-align: left;
}
.maindatatable td:nth-child(1), .maindatatable th:nth-child(1) { width: 10px; }
/*.maindatatable td, .maindatatable th { width: 100px; }*/
#ymp_datatable tr:nth-child(odd){
  /*background-color: #f1f1f1; /* design1 light grey */
  /*background-color: #ffff66; /* design2 light yellow */
  background-color: #cce0ff; /* design3 light blue */
}
#ymp_toptable th {
  background-color: #262626; /* dark grey */
  /*color: #f1f1f1; /* design1 light grey */
  /*color: #ffff66; /* design2 light yellow */
  color: #cce0ff; /* design3 light blue */
  cursor: pointer;
}
.dtable_hborder {
  /*border-right: 1px solid #f1f1f1; /* design1 light grey */
  /*border-right: 1px solid #ffff66; /* design2 light yellow */
  border-right: 1px solid #cce0ff; /* design3 light blue */
}
.dtable_cborder {
  border-right: 1px solid #262626; /* dark grey */
}
#number_of_records {
  color: #fff; /* white */
  font-size: 12px;
  padding-left: 50px;
}
#search_records {
  overflow: hidden;
}
#search_input {
  background-image: url("../../img/ymp_search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 12px 20px 12px 40px; /* top right bottom left */
  width: 100%;
}
.minitable_group tr:nth-child(odd){
  background-color: #4d4d4d; /* dark grey - not default design */
}
/* /pages common table */

.section_table {
  color: #fff; /* white */
  margin-left: 20px;
}
.cell_border_white {
  border: 1px solid #fff; /* white */
}

/* /table */

/* buttons */
.addbtn {
  background-color: #40bf80; /* olive green */
  color: #fff; /* white */
  font-size: 20px;
  margin: 20px 25px;
  padding: 14px 20px;
  width: 25%;
}
.editbtn {
  background-color: #f98e86; /* light red */
  color: #fff; /* white */
  font-size: 20px;
  margin: 20px 25px;
  padding: 14px 20px;
  width: 25%;
}
/* /buttons */

/* modals */
.greenbtnmodal {
  background-color: #2dd280; /* olive green - varies from the YMP standard to make up for the modal opacity */
  color: #fff; /* white */
  font-size: 15px;
  margin: 25px 1px 0px 20px;
  padding: 14px 20px;
  width: 30%;
}
.redbtnmodal {
  background-color: #ff6666; /* light red - varies from the YMP standard to make up for the modal opacity */
  color: #fff; /* white */
  font-size: 15px;
  margin: 25px 1px 0px 20px;
  padding: 14px 20px;
  width: 30%;
}
.backbtnmodal {
  background-color: #6699ff; /* sea blue */
  color: #FFFFFF; /* white */
  display: inline-block;
  float: right;
  margin: 5px 20px 5px 5px;
  padding: 10px;
  text-align: center;
  transition: all 0.5s;
}
.backbtnmodal span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.backbtnmodal span:after {
  content: '\00bb';
  opacity: 0;
  position: absolute;
  right: -20px;
  top: 0;
  transition: 0.5s;
}
.backbtnmodal:hover span {
  padding-right: 15px;
}
.backbtnmodal:hover span:after {
  opacity: 1;
  right: 0;
}
.modalcontainer {
  padding: 16px;
}
#options_title {
  color: #fff; /* white */
  display: inline-block;
  padding: 20px 0px 40px 20px; /* top right bottom left */
}
.modal_edit {
  background-color: rgb(204, 204, 204); /* light grey */
  background-color: rgba(204, 204, 204, 0.4); /* light grey w/ opacity */
  color: #fff; /* white */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 30px;
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}
.ymp-modal-content {
  background-color: #262626; /* dark grey */
  border: 1px solid #888; /* grey - not default design */
  margin: 1% auto 15% auto; /* 1% from the top, 15% from the bottom and centered */
  max-width: 1080px;
  min-width: 550px;
  width: 95%; /* Could be more or less, depending on screen size */
}
.default_txtbox {
  width: 225px;
  margin: 0px 10px 0px 10px; /* top right bottom left */
}
.div_float_left {
  float: left;
}
.div_float_right {
  float: right;
}
.file_pic {
  height: 0px;
  overflow: hidden;
  width: 5px;
}
.div_file_dark {
  background-color: #262626; /* dark grey */
  color: #262626; /* dark grey */
  overflow:hidden;
  width: 173px;
}
.div_file {
  background-color: #fff; /* white */
  color: #000; /* black */
  height: 75px; width: 150px;
  overflow:hidden;
}
.closemodal {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
}
.closemodal:hover, .closemodal:focus {
  color: #ff6666; /* light red - varies from the YMP standard to make up for the modal opacity */
  cursor: pointer;
}
.btnboardmodal {
  /*position: relative;*/
}
.btnboardmodal::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.modal_load {
  background-color: rgb(204, 204, 204); /* light grey */
  background-color: rgba(204, 204, 204, 0.4); /* light grey w/ opacity */
  color: #fff; /* white */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  padding-top: 60px;
  position: fixed; /* Stay in place */
  text-align: center;
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}
/* /modals */

/* /pages */
