/* ymp_navbar.css is for the Yacht_Maintenance_Program */

/* Navigation Bar */
#ympnavbar {
  width: 100%;
}

.ympnavbar_list {
  background-color: #000; /* black */
  /*border-bottom: 2px solid #f1f1f1; /* design1 light grey */
  /*border-bottom: 2px solid #ffff66; /* design2 light yellow */
  border-bottom: 2px solid #cce0ff; /* design3 light blue */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  /*color: #fff; /* design1 white */
  /*color: #ffd633; /* design2 dirty yellow */
  color: #cce0ff; /* design3 light blue */
  display: flex;
  /*display: run-in;*/
  width: 100%;
  overflow: hidden;
  position: static;
  white-space: normal;
}
.ympnavbar_list:before, .ympnavbar_list:after {
  clear: both;
  content: "";
  display: table;
}

.navdrop_list {
  background-color: #000; /* black */
  /*color: #fff; /* design1 white */
  /*color: #ffd633; /* design2 dirty yellow */
  color: #cce0ff; /* design3 light blue */
  display: none;
  padding: 8px 16px;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 1;
}

.ympnavbar_iteml {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /*background-color: #f1f1f1; /* design1 light grey */
  /*background-color: #ffd633; /* design2 dirty yellow */
  background-color: #cce0ff; /* design3 light blue */
  border: none;
  color: #000; /* black */
  cursor: pointer;
  display: inline-block;
  float:left;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  overflow: hidden;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.ympnavbar_item1 {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  float:left;
  outline: 0;
  overflow: hidden;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  user-select:none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.ympnavbar_items {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  float: left;
  outline: 0;
  overflow: hidden;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  vertical-align: middle;
}

.ympnavbar_item1:disabled, .ympnavbar_item2:disabled, .ympnavbar_items:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.ympnavbar_item1:hover, .ympnavbar_item2:hover, .ympnavbar_items:hover {
  /*background-color: #f1f1f1; /* design1 light grey */
  /*background-color: #ffd633; /* design2 dirty yellow */
  background-color: #cce0ff; /* design3 light blue */
  color: #000; /* black */
}

#ympnavbar_itemp {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  border: none;
  color: #000; /* black */
  cursor: pointer;
  display: none;
  /*float:right;*/
  font-size: 20px;
  font-weight: bold;
  right: 0px;
  outline: 0;
  overflow: hidden;
  padding: 0px;
  /*position: relative;*/
  position: fixed;
  text-align: center;
  text-decoration: none;
  user-select:none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  z-index: 1;
}

.yacht_life_buoy {
  height: 44px;
  width: 47px;
}

.navdrop_profile {
  background-color: #000; /* black */
  /*color: #fff; /* design1 white */
  /*color: #ffd633; /* design2 dirty yellow */
  color: #4d94ff; /* design3 blue */
  display: none;
  float: right;
  padding: 8px 16px;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  z-index: 1;
}

.yacht_user_profile {
  border-radius: 25%;
  height: 95px;
  padding-top: 20px;
  width: 90px;
}

.ymp_settings {
  /*height: 45px;
  width: 150px;*/
}

.title_head, #user_title_content {
  padding-bottom: 20px;
}

#user_title_content, #user_username_content {
  /*color: #f1f1f1; /* design1 light grey */
  /*color: #ffd633; /* design2 dirty yellow */
  color: #cce0ff; /* design3 light blue */
  text-decoration: none;
}

/* navbar mechanics */
.ymp-hide {
  display: none;
}
.ymp-show-block, .ymp-show {
    display: block;
}
.ymp-show-inline-block {
  display: inline-block;
}
@media (max-width: 600px) {
  .ymp-dropdown-hover.ymp-mobile .ymp-dropdown-content, .ymp-dropdown-click.ymp-mobile .ymp-dropdown-content {
    position: relative;
  }
  .ymp-hide-small {
    display: none;
  }
  .ymp-mobile {
    display: block;
    width: 100%;
  }
  .ymp-bar-item.ymp-mobile, .ymp-dropdown-hover.ymp-mobile, .ymp-dropdown-click.ymp-mobile {
    text-align: center;
  }
  .ymp-dropdown-hover.ymp-mobile, .ymp-dropdown-hover.ymp-mobile .ymp-btn, .ymp-dropdown-hover.ymp-mobile .ymp-button, .ymp-dropdown-click.ymp-mobile, .ymp-dropdown-click.ymp-mobile .ymp-btn, .ymp-dropdown-click.ymp-mobile .ymp-button {
    width:100%
  }
}
@media (min-width: 993px) {
  .ymp-hide-large {
    display: none;
  }
  .ymp-sidebar.ymp-collapse {
    display: block;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .ymp-hide-medium {
    display: none;
  }
}
@media (max-width: 992px) {
  .ymp-sidebar.ymp-collapse {
    display: none
  }
  .ymp-main {
    margin-left: 0;
    margin-right:0;
  }
}
/* /Navigation Bar */
