/* ymp_pages.css is for the Yacht_Maintenance_Program */

/* settings */

/* division */
#div_crewwatchkeeper {
  float: right;
}
#main_watchkeeper {
  background-color: #80d7ff; /* 75% dark sea blue */
  color: #002333; /* 10% dark sea blue */
  max-width: 330px;
}
#addcheckbox_div {
  display: none;
  padding: 5px 69px 0px 69px;
}
/* /division */

/* table */
#table_crewwatchkeeper {
  background-color: #002333; /* 10% dark sea blue */
}
/* /table */

/* button */
.greenbteditnwatch {
  background-color: #40bf80; /* olive green */
  color: #fff; /* white */
  font-size: 20px;
  padding: 14px 20px;
  width: 200px;
}
#savewatchkeeperbtn {
  display: none;
}
/* /button */

/* image */
.notewatch_icon {
  height: 45px; width: 35px;
  padding: 25px;
}
.notewatch_options {
  height: 20px; width: 20px;
  padding: 0px 10px 0px 10px;
}
/* /image */

/* link */
.addcheckbox_link {
  color: #000; /* black */
  text-decoration: none;
}
/* /link */

/* /settings */
