/* ymp_pages.css is for the Yacht_Maintenance_Program */

/* settings */

/* division */
#div_tables {
  float: left;
}
/* /division */

/* table */
#table_settings {
  text-align: center;
}
#table_picklists {
  margin-top: 20px;
}
/* /table */

/* button */
.greenbtnsettings {
  background-color: #40bf80; /* olive green */
  color: #fff; /* white */
  font-size: 20px;
  margin: 20px 25px;
  padding: 14px 20px;
  width: 200px;
}
.bluebtnsettings {
  background-color: #6699ff; /* sea blue */
  color: #fff; /* white */
  font-size: 20px;
  margin: 20px 25px;
  padding: 14px 20px;
  width: 200px;
}
/* /button */

/* image */
.imgtblsample {
  /* top right bottom left */
  padding: 20px 0px 20px 0px;
  width: 100%;
}
/* /image */

/* /settings */
