/* ymp_footer.css is for the Yacht_Maintenance_Program */

/* footer */
.ympfooter {
  /*background-color: #f1f1f1; /* design1 light grey */
  /*background-color: #ffff66; /* design2 light yellow */
  background-color: #cce0ff; /* design3 light blue */
  color: #000; /* black */
  display: inline-block;
  font-size: 11px;
  opacity: 0.80;
  padding-top: 5px;
  position: absolute;
  right: 0; bottom: 5px; left: 0;
  text-align: center;
  width: 100%;
}
.ympfooter:after, footer.ympfooter:before {
  clear: both;
  content: "";
  display: table;
}
/* /footer */
